@mixin background($color) {
  background-color: $color;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin fullSize {
  position: relative;
  height: 60rem;
  display: flex;
  align-items: center;
}
@mixin bgImg {
  position: absolute;
  background-color: #525252;
  width: 100%;
  height: 100%;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
@mixin img {
  position: absolute;
  width: 100%;
  height: auto;
  animation: fullSize 1s ease-in-out infinite;
  transition: all 1s;
}
@mixin smallSize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60rem;
}
@mixin smallImg {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  transition: all 1s;
  background-color: #fff;
  margin: 1rem;
}
